{% extends 'first/base.html'%}
{% load static %}


{% block form %}
    
     {% if user.count_zvezd >= 100 %}
         <div class="end_flex">
         <img src="{% static '/first/img/100.png' %}"  >
         <img src="{% static '/first/img/zv.png' %}" style="width: 300px" >
         </div>
         
    <div class="endtasks">
   <p> Вы заработали 100 звёзд</p>
    <p style="font-size: 70px; color: white; margin-top: 0">Ваш подарок {{ user.prize }} </p>
    <a href="{% url 'delete' %}"  ><button type="button" class="btn btn-danger" >Получить новый приз</button></a>
    </div>
         
         
         
    {% else %}
<h2 style="color: white">СПИСОК ДЕЛ</h2>
<table class="table">
  <thead>
  
    <tr>
      <th scope="col" >Дела</th>
      <th scope="col" {% if weekDay == 0 %} style="background: indianred; color: white" {% endif %}>Понедельник</th>
      <th scope="col" {% if weekDay == 1 %} style="background: indianred; color: white " {% endif %}>Вторник</th>
      <th scope="col" {% if weekDay == 2 %} style="background: indianred; color: white" {% endif %}>Среда</th>
        <th scope="col" {% if weekDay == 3 %} style="background: indianred; color: white" {% endif %}>Четверг</th>
        <th scope="col" {% if weekDay == 4 %} style="background: indianred; color: white" {% endif %}>Пятница</th>
        <th scope="col" {% if weekDay == 5 %} style="background: indianred; color: white" {% endif %}>Суббота</th>
        <th scope="col" {% if weekDay == 6 %} style="background: indianred; color: white" {% endif %}>Воскресенье</th>
        
    </tr>
  </thead>
      
  <tbody>
      {% for list in data %}
    <tr>
      <th scope="row" style="background: lightgoldenrodyellow">{{ list.task }}</th>
    <td {% if weekDay == 0 %} style="background: #bbddfa" {% endif %}>
        {% if list.mon == 0 and weekDay == 0 %}
          <a href="{% url 'status' day='mon' idtask=list.id %}"  ><button type="button" class="btn btn-danger on-clock" >:(</button></a>
            {% elif list.mon == 0 and weekDay != 0 %}
              <a href="{% url 'status' day='mon' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.mon == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    <td {% if weekDay == 1 %} style="background: #bbddfa" {% endif %}>
        {% if list.tue == 0 and weekDay == 1 %}
          <a href="{% url 'status' day='tue' idtask=list.id %}"><button type="button" class="btn btn-danger on-clock">:(</button></a>
            {% elif list.tue == 0 and weekDay != 1 %}
              <a href="{% url 'status' day='tue' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.tue == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    <td {% if weekDay == 2 %} style="background: #bbddfa" {% endif %}>
        {% if list.wed == 0 and weekDay == 2 %}
          <a href="{% url 'status' day='wed' idtask=list.id %}"><button type="button" class="btn btn-danger on-clock">:(</button></a>
            {% elif list.wed == 0 and weekDay != 2 %}
              <a href="{% url 'status' day='wed' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.wed == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    <td {% if weekDay == 3 %} style="background: #bbddfa" {% endif %}>
        {% if list.thu == 0 and weekDay == 3 %}
          <a href="{% url 'status' day='thu' idtask=list.id %}"><button type="button" class="btn btn-danger on-clock">:(</button></a>
            {% elif list.thu == 0 and weekDay != 3 %}
              <a href="{% url 'status' day='thu' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.thu == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    <td {% if weekDay == 4 %} style="background: #bbddfa" {% endif %}>
        {% if list.fri == 0 and weekDay == 4 %}
          <a href="{% url 'status' day='fri' idtask=list.id %}"><button type="button" class="btn btn-danger on-clock">:(</button></a>
            {% elif list.fri == 0 and weekDay != 4 %}
              <a href="{% url 'status' day='fri' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.fri == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    <td {% if weekDay == 5 %} style="background: #bbddfa" {% endif %}>
        {% if list.sat == 0 and weekDay == 5 %}
          <a href="{% url 'status' day='sat' idtask=list.id %}"><button type="button" class="btn btn-danger on-clock">:(</button></a>
            {% elif list.sat == 0 and weekDay != 5 %}
              <a href="{% url 'status' day='sat' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.sat == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    <td {% if weekDay == 6 %} style="background: #bbddfa" {% endif %}>
        {% if list.sun == 0 and weekDay == 6 %}
          <a href="{% url 'status' day='sun' idtask=list.id %}" ><button type="button" class="btn btn-danger on-clock">:(</button></a>
            {% elif list.sun == 0 and weekDay != 6 %}
              <a href="{% url 'status' day='sun' idtask=list.id %}" class="off-click" disabled=""><button type="button" class="btn btn-danger" disabled>:(</button></a>
        {% elif list.sun == 1  %}
           <div>
           <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
           </div>
        {% endif %}
    </td>
    </tr>
          
  {% endfor %}
  </tbody>
</table>

    
{% endif %}
{% endblock %}