{% extends 'userQuiz/baseUserQuiz.html'%}
{% load static %}
{% block form %}

    <h2 style="color: white; background: darkcyan;">Викторина</h2>

    {{ objectQuestions.count }}
{% if messageEndPlay %}
    <div class="div_rezult" >
        <h2 style="color: gold">Конец игры</h2>
        <p style="color: #c53d3d">Количество неправильных ответов: {{ incorrect }} </p>
    </div>
    {% if incorrect == 0 %}
        <div class="div_rezult">
        <p style="color: gold"> Ты получаешь 5 звезд</p>
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
        </div>

     {% elif incorrect == 1 %}
        <div class="div_rezult">
        <p style="color: gold"> Ты получаешь 3 звезды</p>
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
        </div>
        {% elif incorrect == 2 %}
        <div class="div_rezult">
        <p style="color: gold"> Ты получаешь 1 звезду</p>
         <img src="{% static '/first/img/zvezda.png' %}" style="width: 50px; height: 47px" >
        </div>
    {% endif %}

    {% else %}
    {% for data in page_obj %}
    <div>
    <h3 class="question">{{ data.question }} </h3>

    <div class="div_viktor">
        
        <div  class="flex_viktor">
            <div class="d-grid gap-2">
                <a href="{% url 'userAddQustion' answer=data.answer1 id=data.id %}"><button class="btn btn-primary" type="button">{{ data.answer1 }}</button></a>
                <a href="{% url 'userAddQustion' answer=data.answer2 id=data.id %}"><button class="btn btn-primary" type="button">{{ data.answer2 }}</button></a>
            </div>
        </div>

        <div  class="flex_viktor">
                <div class="d-grid gap-2">
                    <a href="{% url 'userAddQustion' answer=data.answer3 id=data.id %}"><button class="btn btn-primary" type="button">{{ data.answer3 }}</button></a>
                    <a href="{% url 'userAddQustion' answer=data.answer4 id=data.id %}"><button class="btn btn-primary" type="button">{{ data.answer4 }}</button></a>
                </div>
        </div>
    
    </div>

    </div>

    {% endfor %}
{% endif %}


{% endblock %}